body {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

.cards {
    margin: 0 20px;
    background-color: antiquewhite;
}

.cards__row {
    height: 200px;
    margin: 0 50px;
    background-color: aquamarine;
    position: relative;
}

.row__card {
    display: inline-block;
    width: 130px;
    height: 198px;
    border: solid black 1px;
    background-color: cornflowerblue;
    position: absolute;
}

.card-1 {
    left: 0;
}

.card-2 {
    left: 2.8%;
}

.card-12 {
    right: 0;
}
