$card-hover-color: #F4F4F4
$card-width: 126px


.dv-cards-container
  max-width: 1340px
  margin: auto
  padding: 20px

.cards__row
  position: relative
  height: 200px
  margin-right: 110px

.card
  display: inline-block
  width: $card-width
  height: 178px
  position: absolute
  background: url("card-back.jpg")
  background-size: cover
  border-radius: 9px
  margin-right: 20px
  cursor: pointer
  border: solid #F4F4F4 2px

.card__hover
  width: 100%
  height: 100%

.card__hover:hover
  opacity: 0.3
  background-color: $card-hover-color
  border-radius: inherit

.card-selected
  display: none

.row-1

  bottom: -100px

.row-2
  bottom: 200px


$cards-left: 100% / 30

.card-1
  left: 0
.card-2
  left: 1 * $cards-left
.card-3
  left: 2 * $cards-left
.card-4
  left: 3 * $cards-left
.card-5
  left: 4 * $cards-left
.card-6
  left: 5 * $cards-left
.card-7
  left: 6 * $cards-left
.card-8
  left: 7 * $cards-left
.card-9
  left: 8 * $cards-left
.card-10
  left: 9 * $cards-left
.card-11
  left: 10 * $cards-left
.card-12
  left: 11 * $cards-left
.card-13
  left: 12 * $cards-left
.card-14
  left: 13 * $cards-left
.card-15
  left: 14 * $cards-left
.card-16
  left: 15 * $cards-left
.card-17
  left: 16 * $cards-left
.card-18
  left: 17 * $cards-left
.card-19
  left: 18 * $cards-left
.card-20
  left: 19 * $cards-left
.card-21
  left: 20 * $cards-left
.card-22
  left: 21 * $cards-left
.card-23
  left: 22 * $cards-left
.card-24
  left: 23 * $cards-left
.card-25
  left: 24 * $cards-left
.card-26
  left: 25 * $cards-left
.card-27
  left: 26 * $cards-left
.card-28
  left: 27 * $cards-left
.card-29
  left: 28 * $cards-left
.card-30
  left: 29 * $cards-left
.card-31
  left: 30 * $cards-left
.card-32
  left: 31 * $cards-left
.card-33
  left: 32 * $cards-left
.card-34
  left: 33 * $cards-left
.card-35
  left: 34 * $cards-left
.card-36
  left: 35 * $cards-left