.dv-result-container
  max-width: 1440px
  margin: 0 auto

.dv-result-container:after
  content: ""
  display: table
  line-height: 0
  clear: both

.result__box
  float: left
  width: 20%
  margin-right: 0

  .description
    padding: 20px 0
    text-align: center


.result__box:first-child
  margin-left: 0

.result__box-wrap
  padding: 40px 20px

.card-md
  width: 190px
  height: 266px
  margin: 0 auto
  border-radius: 10px
  position: relative

.card-md-back
  background: url("../dv-cards/card-back.jpg")